# Pokemon Battle Winner Prediction

Pokemon is a fictional animated character present in animated films and video games. In this project, we will predict the winner of the battle between two Pokemons. The data used is pokemon.csv data as strength data from each pokemon, while the second data, combats.csv is historical data from the battle between pokemon

### 1. Input Data to DataFrame

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pokemon=pd.read_csv('pokemon.csv')
pokemon['Name']=pokemon['Name'].str.lower()
pokemon.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,mega venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,6,charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,7,charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,8,mega charizard x,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,mega charizard y,Fire,Flying,78,104,78,159,115,100,1,False
9,10,squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [3]:
combats=pd.read_csv('combats.csv')
combats.head(10)

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151
5            657             752     657
6            192             134     134
7             73             545     545
8            220             763     763
9            302              31      31

### 2. Convert Categorical Data to Binary

In [4]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
pokemon['Legendary_code']=le.fit_transform(pokemon['Legendary'])
pokemon.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Legendary_code
0,1,bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,0
1,2,ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0
2,3,venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0
3,4,mega venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0
4,5,charmander,Fire,NaN,39,52,43,60,50,65,1,False,0
5,6,charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,0
6,7,charizard,Fire,Flying,78,84,78,109,85,100,1,False,0
7,8,mega charizard x,Fire,Dragon,78,130,111,130,85,100,1,False,0
8,9,mega charizard y,Fire,Flying,78,104,78,159,115,100,1,False,0
9,10,squirtle,Water,NaN,44,48,65,50,64,43,1,False,0

### 3. Merging Pokemon Attribute into One DataFrame

We use HP, Attack, Defense, Special Attack, Special Defence, and Legendary Code from each Pokemon as predictor. We merge them into one data frame for the first Pokemon and second Pokemon.

In [5]:
df=pd.DataFrame()
for i in range(len(combats)):
    id_1=combats['First_pokemon'][i]
    id_2=combats['Second_pokemon'][i]
    df_i=pd.DataFrame({
        'Pokemon1': id_1,
        'Pokemon2': id_2,
        'HP1': pokemon[pokemon['#']==id_1]['HP'].values[0],
        'Attack1': pokemon[pokemon['#']==id_1]['Attack'].values[0],
        'Defense1': pokemon[pokemon['#']==id_1]['Defense'].values[0],
        'SpAttack1': pokemon[pokemon['#']==id_1]['Sp. Atk'].values[0],
        'SpDefense1': pokemon[pokemon['#']==id_1]['Sp. Def'].values[0],
        'Speed1': pokemon[pokemon['#']==id_1]['Speed'].values[0],
        'Legendary1': pokemon[pokemon['#']==id_1]['Legendary_code'].values[0],
        'HP2': pokemon[pokemon['#']==id_2]['HP'].values[0],
        'Attack2': pokemon[pokemon['#']==id_2]['Attack'].values[0],
        'Defense2': pokemon[pokemon['#']==id_2]['Defense'].values[0],
        'SpAttack2': pokemon[pokemon['#']==id_2]['Sp. Atk'].values[0],
        'SpDefense2': pokemon[pokemon['#']==id_2]['Sp. Def'].values[0],
        'Speed2': pokemon[pokemon['#']==id_2]['Speed'].values[0],
        'Legendary2': pokemon[pokemon['#']==id_2]['Legendary_code'].values[0],
        'Winner':combats['Winner']
    }, index=[i])
    
    df=pd.concat([df,df_i], axis=0)

In [6]:
df.head(10)

,Pokemon1,Pokemon2,HP1,Attack1,Defense1,SpAttack1,SpDefense1,Speed1,Legendary1,HP2,Attack2,Defense2,SpAttack2,SpDefense2,Speed2,Legendary2,Winner
0,266,298,50,64,50,45,50,41,0,70,70,40,60,40,60,0,298
1,702,701,91,90,72,90,129,108,1,91,129,90,72,90,108,1,701
2,191,668,55,40,85,80,105,40,0,75,75,75,125,95,40,0,668
3,237,683,40,40,40,70,40,20,0,77,120,90,60,90,48,0,683
4,151,231,70,60,125,115,70,55,0,20,10,230,10,230,5,0,151
5,657,752,50,47,50,57,50,65,0,60,50,150,50,150,60,0,657
6,192,134,40,50,45,70,45,70,0,65,50,35,115,95,95,0,134
7,73,545,70,80,50,35,35,35,0,150,100,120,100,120,90,1,545
8,220,763,50,65,90,35,35,15,0,50,53,62,58,63,44,0,763
9,302,31,40,30,30,55,30,85,0,35,55,40,50,50,90,0,31

### 4. Encoding the winner (First or Second Pokemon)

In [7]:
df['Winner_code']=0

In [8]:
for j in range(len(df['Pokemon1'])):
    if df['Winner'][j]==df['Pokemon1'][j]:
        df['Winner_code'][j]=1
    elif df['Winner'][j]==df['Pokemon2'][j]:
        df['Winner_code'][j]=2

c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df.head()

,Pokemon1,Pokemon2,HP1,Attack1,Defense1,SpAttack1,SpDefense1,Speed1,Legendary1,HP2,Attack2,Defense2,SpAttack2,SpDefense2,Speed2,Legendary2,Winner,Winner_code
0,266,298,50,64,50,45,50,41,0,70,70,40,60,40,60,0,298,2
1,702,701,91,90,72,90,129,108,1,91,129,90,72,90,108,1,701,2
2,191,668,55,40,85,80,105,40,0,75,75,75,125,95,40,0,668,2
3,237,683,40,40,40,70,40,20,0,77,120,90,60,90,48,0,683,2
4,151,231,70,60,125,115,70,55,0,20,10,230,10,230,5,0,151,1

### 4. Modelling

In this project, i use Random Forest Classifier from Sklearn to predict the winner from battle betewwen two Pokemon.

In [12]:
x=df.drop(['Pokemon1','Pokemon2','Winner','Winner_code'], axis=1)
y=df['Winner_code']

In [72]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)

In [73]:
model.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [74]:
pred = model.predict([[
    45, 49, 49, 65, 65, 45,0,
    60, 62, 63, 80, 80, 60,1
]])[0]
pred

2

In [75]:
model.score(x,y)

0.99992

### 5. Testing the Battle

In [76]:
print('Input Your Pokemon')
poke1=input('Input Your First Pokemon : ').lower()
poke2=input('Input Your Second Pokemon : ').lower()

Input Your Pokemon
Input Your First Pokemon : ivysaur
Input Your Second Pokemon : pikachu

In [77]:
pokemon1=list(pokemon.loc[pokemon['Name']==poke1][['HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed', 'Legendary_code']].values[0])
pokemon2=list(pokemon.loc[pokemon['Name']==poke2][['HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed', 'Legendary_code']].values[0])

In [78]:
pred=model.predict([pokemon1+pokemon2])
proba=model.predict_proba([pokemon1+pokemon2])
if pred[0] == 1:
    nama = pokemon['Name'].loc[pokemon['Name']==poke1].values[0]
    print(round(proba.max()*100,2),'%',nama,'Wins!')
if pred[0] == 2:
    nama = pokemon['Name'].loc[pokemon['Name']==poke2].values[0]
    print(round(proba.max()*100,2),'%',nama,'Wins!')

96.0 % pikachu Wins!